sqlalchemy
psycopg2-binary
python-dotenv
python-multipart
fastapi
pydantic
email-validator
langchain
langchain-experimental
langchain-openrouter
openai
serpapi
supabase
pymupdf
openrouter
httpx
tavily
e2b-code-interpreter
redis
requests
confluent_kafka
pwdlib[argon2]
uvicorn[standard]